.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 110vh;
  margin-bottom: 150px;
}
.popular h1 {
  color: black;
  font-size: 50px;
  font-weight: 900;
  margin-top: 50px;
}
.popular hr {
  width: 500px;
  height: 00px;
  border-radius: 10px;
  background: yellow;
}
.popular-item {
  margin-top: 30px;
  display: flex;
  gap: 50px;
}
